[defaults]
inventory = ansible/inventory/production.example.yml
roles_path = ansible/roles
host_key_checking = True
interpreter_python = auto_silent
stdout_callback = default
retry_files_enabled = False
