DOMAIN={{ infisical_secrets.DOMAIN }}
CERTBOT_EMAIL={{ infisical_secrets.CERTBOT_EMAIL }}
POSTGRES_DB=n8n
POSTGRES_USER=n8n
POSTGRES_PASSWORD={{ infisical_secrets.POSTGRES_PASSWORD }}
N8N_ENCRYPTION_KEY={{ infisical_secrets.N8N_ENCRYPTION_KEY }}
TZ={{ infisical_secrets.TZ | default('UTC', true) }}
N8N_IMAGE=n8nio/n8n:2.34.6
RESTIC_PASSWORD={{ infisical_secrets.RESTIC_PASSWORD }}
RESTIC_REPOSITORY=rest:http://rclone:8080
