DOMAIN={{ infisical_secrets.DOMAIN }}
NTFY_DOMAIN={{ infisical_secrets.NTFY_DOMAIN }}
CERTBOT_EMAIL={{ infisical_secrets.CERTBOT_EMAIL }}
POSTGRES_DB=n8n
POSTGRES_USER=n8n
POSTGRES_PASSWORD={{ infisical_secrets.POSTGRES_PASSWORD }}
N8N_ENCRYPTION_KEY={{ infisical_secrets.N8N_ENCRYPTION_KEY }}
N8N_API_KEY={{ infisical_secrets.N8N_API_KEY | default('', true) }}
NTFY_TOKEN={{ infisical_secrets.NTFY_TOKEN }}
# bcrypt hashes contain `$`; single quotes prevent Docker Compose .env interpolation.
NTFY_USER_PASSWORD_HASH='{{ infisical_secrets.NTFY_USER_PASSWORD_HASH }}'
TZ={{ infisical_secrets.TZ | default('UTC', true) }}
N8N_IMAGE=n8nio/n8n:2.34.6
NETDATA_IMAGE=netdata/netdata:v2.11.0
RESTIC_PASSWORD={{ infisical_secrets.RESTIC_PASSWORD }}
RESTIC_REPOSITORY=rest:http://rclone:8080

